.work {
	background-color: #0d3d56;
	color: white;
	font-weight: 300;
	.work-cont {
		max-width: 1500px;
		display: flex;
		flex-wrap: wrap;
		padding: clamp(1rem, 3vw, 3rem) var(--padding-section);
		margin: 0 auto;
		.work__text-cont {
			flex: 1 1 100%;
			max-width: 500px;
			// height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			p {
			}
			h6 {
				font-weight: 300;
				margin: 0.5rem 0 0.2rem;
				// margin-top: auto;
			}
			a {
				font-size: 0.67em;
				color: white;
				margin: 0 0 1rem 0;
			}
		}
		.work__img-cont {
			flex: 1 1 100%;
			max-width: 500px;
			margin-inline: auto;
			display: flex;
			.wrapper {
				width: 100%;
				padding-bottom: 56.25%;
				position: relative;
				overflow: hidden;
				.img-work {
					width: 100%;
					height: auto;
					position: absolute;
					top: -50%;
					left: -50%;
					right: -50%;
					bottom: -50%;
					margin: auto;
				}
			}
		}
	}
	@media (min-width: 1300px) {
		.work-cont {
			position: relative;
			.work__text-cont::after {
				content: "";
				border-right: 1px solid white;
				height: 40%;
				position: absolute;
				right: 50%;
				top: 30%;
			}
		}
	}
}
