.success {
	color: white;
	background-color: #a4757b;
	display: flex;
	flex-direction: column;
	font-family: "Open Sans", sans-serif;
	.success-title-box {
		flex: 1 1 100%;
		width: 100%;
		margin: 5rem auto clamp(4rem, 5vh, 6rem) auto;
		padding: 0 clamp(2rem, 3vw, 3rem);
		.success-title-box-cont {
			.success-title-box--title {
				text-transform: uppercase;
				font-size: clamp(2.5rem, 5vw, 3rem);
				font-weight: 700;
				font-weight: 800;
				letter-spacing: 0.3rem;
				margin-bottom: 1rem;
				text-transform: uppercase;
			}
			.success-title-box--underline-dig {
				width: 180px;
				height: 0.7rem;
				background-color: #bf97d5;
			}
			.success-title-box--underline-thin {
				width: auto;
				height: 1px;
				background-color: #bf97d5;
			}
		}
	}
	.success__img-block {
		width: 100%;
		height: 600px;
		background-image: url("../../../images/pipi-pricing.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.success__price-1 {
		border-bottom: 1px solid white;
	}
	.success__price-1,
	.success__price-2 {
		padding: 5rem clamp(2rem, 3vw, 3rem) 6rem;
		display: flex;
		flex-direction: column;
		align-items: start;
		.price__box {
			display: flex;
			margin-left: 2rem;
			span:nth-child(2) {
				font-size: 3rem;
				font-weight: 800;
				letter-spacing: 0.3rem;
			}
		}
		p {
			margin-left: 2rem;
		}
		.success__price--button {
			height: clamp(2.5rem, 5vw, 3rem);
			display: flex;
			margin: 1rem 0 0 2rem;
			background-color: white;
			.success__price--button-text {
				height: inherit;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 1.5rem;
				color: #bf97d5;
				text-decoration: none;
				font-size: clamp(0.8rem, 3vw, 1.3rem);
				border: none;
				text-transform: uppercase;
				font-weight: 800;
				letter-spacing: clamp(1.5px, 2vw, 2px);
				word-spacing: 4px;
				svg {
					margin: auto 0 auto clamp(1rem, 2vw, 2rem);
				}
			}
			// .success__price--button-arrow {
			// 	height: inherit;
			// 	display: flex;
			// 	justify-content: center;
			// 	align-items: center;
			// 	padding: 0 0.8rem;
			// 	font-size: clamp(1rem, 3vw, 1.3rem);
			// 	border: none;
			// 	color: #BF97D5;
			// 	// background-color: #e8c061;
			// }
		}
		.success__price--text-box {
			ul {
				display: flex;
				flex-direction: column;
				// align-items: flex-start;
				li {
					width: fit-content;
					list-style-type: circle;
					font-size: 1.2rem;
					margin: 0.5rem 0;
					font-style: italic;
					text-transform: lowercase;
				}
			}
		}
	}
}
@media (min-width: 600px) {
	.success {
		.success__img-block {
			height: 700px;
		}
	}
}
@media (min-width: 700px) {
	.success {
		.success__img-block {
			height: 800px;
		}
	}
}
@media (min-width: 800px) {
	.success {
		.success__img-block {
			height: 900px;
		}
	}
}
@media (min-width: 900px) {
	.success {
		.success__img-block {
			height: 1000px;
		}
	}
}
@media (min-width: 970px) {
	.success {
		.success__img-block {
			height: 1100px;
		}
	}
}
@media (min-width: 1060px) {
	.success {
		flex-direction: row;
		flex-wrap: wrap;
		.success-title-box {
			flex: 0 1 100%;
			.success-title-box-cont {
				max-width: 900px;
				display: flex;
				flex-direction: column;
				margin: 0 auto;
			}
		}
		.success__img-block {
			flex: 1 1 33%;
			order: 2;
		}
		.success__price-1 {
			order: 1;
			border-bottom: none;
		}
		.success__price-2 {
			order: 3;
		}
		.success__price-1,
		.success__price-2 {
			flex: 1 1 33%;
			justify-content: center;
			.success__price--button {
				// position: relative;
				// transition: all 0.3s ease-in-out;
				.success__price--button-text {
					transition: all 0.3s ease-in-out;
				}
				.success__price--button-text:hover {
					background-color: rgb(102, 101, 101);
					color: white;
				}
			}
		}
	}
}

// .success__price-1 {
// 	.price_box {
// 	}
// 	h6 {
// 	}
// }
// .success__price-2,
// .success__price-1 {

// }
// .success {
// 	height: fit-content;
// 	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../images/success-dark.jpg");
// 	background-position: center;
// 	background-repeat: none;
// 	background-size: cover;
// 	object-fit: cover;
// 	padding: 2.5rem 0 2.5rem clamp(2rem, 3vw, 3rem);
// 	font-family: "Open Sans", sans-serif;

// 	.success__cont {
// 		background-image: linear-gradient(225deg, rgba(50, 33, 34, 0.7), rgba(85, 56, 59, 0.7));
// 		color: white;
// 		text-align: center;
// 		padding: clamp(2rem, 3vw, 3rem) 0;
// 		.success__cont--1 {
// 			h4 {
// 				font-size: clamp(1.5rem, 5vw, 2rem);
// 				font-weight: 700;
// 				font-weight: 800;
// 				letter-spacing: 0.2rem;
// 				margin-bottom: 0;
// 			}
// 			.price_box {
// 				width: fit-content;
// 				color: rgb(232, 192, 97);
// 				display: flex;
// 				margin: 0 auto;
// 				font-size: 3rem;
// 				font-weight: 800;
// 				letter-spacing: 0.3rem;
// 				span {
// 					font-size: 1rem;
// 				}
// 			}
// 			h6 {
// 				font-size: 0.8rem;
// 				margin: 0;
// 			}
// 			p {
// 				font-size: 0.7rem;
// 			}
// 			.success__link {
// 				width: clamp(250px, 50vw, 350px);
// 				margin: 1rem auto 3rem;
// 				padding: .7rem 0;
// 				display: flex;
// 				// height: fit-content;
// 				justify-content: center;
// 				align-items: center;
// 				text-transform: uppercase;
// 				font-weight: 900;
// 				letter-spacing: 0.3rem;
// 				font-size: clamp(0.8rem, 4vw, 1.5rem);
// 				color: black;
// 				text-decoration: none;
// 				background-color: rgb(232, 192, 97);
// 				text-align: center;
// 				transition: all 0.3s ease-in-out;
// 			}
// 			.success__link:hover {
// 				background-color: rgb(142, 117, 58);
// 			}
// 		}

// 		.success__cont--2 {
// 			transition: all 0.3s ease-in-out;
// 			ul {
// 				display: flex;
// 				flex-direction: column;
// 				li {
// 					width: fit-content;
// 					margin: 0.5rem auto;
// 				}
// 			}
// 		}
// 	}
// }
// @media (min-width: 1060px) {
// 	.success {
// 		display: flex;
// 		padding: 0;
// 		background-image: none;
// 		.success__bckgrd-block {
// 			flex: 1 1 66.66%;
// 			background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
// 				url("../../../images/success-dark.jpg");
// 			background-position: center;
// 			background-repeat: none;
// 			background-size: cover;
// 			object-fit: cover;
// 		}
// 		.success__cont {
// 			flex: 1 1 33.33%;
// 			padding-block: 5rem;
// 			.success__cont--1,
// 			.success__cont--2 {
// 				max-width: fit-content;
// 				margin-inline: auto;
// 			}
// 			.success__cont--1{

// 				.price_box {
// 					margin: 1rem auto;
// 				}

// 				p {
// 					margin-block: 2rem;
// 				}
// 			}
// 			.success__cont--2>ul li {
// 				margin-block: 1rem;
// 			}
// 		}
// 	}
// }
